<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wyszukiwanie</title>
</head>
<body style="background-color: lightgrey">
<form action="" method="post" style="display: inline-block;
    text-align: center;">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Szukaj" />
</form>

<table>
    <th>
        {% for header in headers %}
        <td> {{ header }}</td>
        {% endfor %}
    </th>
    {% for task in tasks %}
        <tr>
            <td></td>
            <td style="text-align: center;"> <a href = {{ task.url }}> Link </a></td>
            <td> {{ task.name }}</td>
            <td> {{ task.difficulty }}</td>
        </tr>
    {% endfor %}
</table>
</body>
</html>
